.btn {
    border-radius: .4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    height: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-transform: uppercase;

    @include modifier("primary") {
        background-color: #006D9E;
        color: #FFF;
        font-size: 1.4rem;
        height: 4rem;

        @media screen and (min-width: 992px) {
            font-size: 1.6rem;
            height: 5rem;
        }

        &:hover {
            background-color: #006D9E;
            color: #FFF;
            box-shadow: 3px 3px rgba(#888888, 0.4);
        }
    }

    @include modifier("info") {
        background-color: #00AFD7;
        color: #FFF;
        font-size: 1.4rem;
        height: 4rem;

        &:hover {
            color: #FFF;
            box-shadow: 3px 3px rgba(#888888, 0.4);
        }
    }

    @include modifier("info-2") {
        background-color: #006D9E;
        color: #FFF;
        font-size: 1.4rem;
        font-weight: normal;
        height: 4rem;
        min-width: 25rem;
        text-align: center;

        &:hover {
            color: #FFF;
            box-shadow: 3px 3px rgba(#888888, 0.4);
        }
    }
}