@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?yplf18");
    src: url("../fonts/icomoon.eot?yplf18#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?yplf18") format("truetype"), 
        url("../fonts/icomoon.woff?yplf18") format("woff"),
        url("../fonts/icomoon.svg?yplf18#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
