i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e904";
}
.icon-close:before {
    content: "\e903";
}
.icon-envelop:before {
    content: "\e902";
}
.icon-phone:before {
    content: "\e901";
}
.icon-linkedin:before {
    content: "\eac9";
}
.icon-mail:before {
    content: "\e900";
}
