@mixin print {
  @media print {
    @content;
  }
}

// Block Element
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

// Block Modifier
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Encode SVG SCSS
// https://codepen.io/jakob-e/pen/doMoML
//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @return if($index, str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace), $string);
}

//
//  Function to create an optimized svg url
//  Version: 1.0.6
@function svg-url($svg) {
  //
  //  Add missing namespace
  //
  @if not str-index($svg, xmlns) {
    $svg: str-replace($svg, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');
  } //    
  //  Chunk up string in order to avoid 
  //  "stack level too deep" error
  //     
  $encoded:'';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1); //
    //   Encode 
    //
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '%', '%25');
    $chunk: str-replace($chunk, '#', '%23');
    $chunk: str-replace($chunk, '{', '%7B');
    $chunk: str-replace($chunk, '}', '%7D');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E'); // 
    //    The maybe list 
    //
    //    Keep size and compile time down
    //    ... only add on documented fail 
    // 
    //  $chunk: str-replace($chunk, '&', '%26');        
    //  $chunk: str-replace($chunk, '|', '%7C');
    //  $chunk: str-replace($chunk, '[', '%5B');
    //  $chunk: str-replace($chunk, ']', '%5D');
    //  $chunk: str-replace($chunk, '^', '%5E');
    //  $chunk: str-replace($chunk, '`', '%60');
    //  $chunk: str-replace($chunk, ';', '%3B');
    //  $chunk: str-replace($chunk, '?', '%3F');
    //  $chunk: str-replace($chunk, ':', '%3A');
    //  $chunk: str-replace($chunk, '@', '%40');
    //  $chunk: str-replace($chunk, '=', '%3D');      
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  @return url("data:image/svg+xml,#{$encoded}");
}

//  Background svg mixin          
@mixin background-svg($svg) {
  background-image: svg-url($svg);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// usage
// .class { 
//   background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg">.....</svg>');    
// }
// .class { 
//   @include background-svg('<svg xmlns="http://www.w3.org/2000/svg">.....</svg>');
// }

@mixin background-icon($name, $color:"#616A74") {
  $svg: null;
  @if $name == "add" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#{$color}" fill-rule="evenodd" d="M12 5.182v1.636c0 .227-.08.42-.239.58a.789.789 0 0 1-.58.238H7.637v3.546c0 .227-.08.42-.238.58a.789.789 0 0 1-.58.238H5.182a.789.789 0 0 1-.58-.239.789.789 0 0 1-.238-.58V7.637H.818a.789.789 0 0 1-.58-.238.789.789 0 0 1-.238-.58V5.182c0-.227.08-.42.239-.58a.789.789 0 0 1 .58-.238h3.545V.818c0-.227.08-.42.238-.58A.789.789 0 0 1 5.182 0h1.636c.227 0 .42.08.58.239.159.159.238.352.238.58v3.545h3.546c.227 0 .42.08.58.238.158.16.238.353.238.58z"/></svg>';
  } @else if $name == "attachment" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12"><path fill="#{$color}" fill-rule="evenodd" d="M10.75 4.762c.18.18.18.473 0 .653l-5.247 5.243C4.627 11.533 3.636 12 2.696 12c-.24 0-.476-.03-.707-.092-.926-.249-1.631-.968-1.886-1.923-.318-1.19.11-2.484 1.176-3.548L7.127.594c.95-.948 2.27-.65 3.032.113 1.035 1.037.75 2.264.048 2.966L4.31 9.565c-.782.78-1.656.723-2.116.263-.455-.455-.507-1.324.274-2.104l3.989-3.985a.462.462 0 0 1 .652.653L3.12 8.377c-.348.348-.4.671-.273.799.132.132.461.084.81-.264L9.555 3.02c.594-.594.345-1.266-.05-1.66-.441-.443-1.17-.667-1.726-.112L1.931 7.09C1.105 7.915.764 8.883.995 9.746c.169.633.63 1.108 1.234 1.27.817.22 1.749-.14 2.621-1.012l5.248-5.242c.18-.18.473-.18.653 0z"/></svg>';
  } @else if $name == "breadcrumb" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12"><path fill="#{$color}" fill-rule="evenodd" d="M6.998 6a.38.38 0 0 1-.12.277L1.275 11.88a.38.38 0 0 1-.554 0l-.6-.601a.38.38 0 0 1 0-.554L4.845 6 .12 1.275a.38.38 0 0 1 0-.554l.601-.6a.38.38 0 0 1 .554 0l5.603 5.602c.08.08.12.173.12.277z"/></svg>';
  } @else if $name == "close" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#{$color}" fill-rule="evenodd" d="M12 9.657c0 .269-.094.498-.283.686l-1.374 1.374a.935.935 0 0 1-.686.283.935.935 0 0 1-.687-.283L6 8.747l-2.97 2.97a.935.935 0 0 1-.687.283.935.935 0 0 1-.686-.283L.283 10.343A.935.935 0 0 1 0 9.657c0-.27.094-.499.283-.687L3.253 6 .283 3.03A.935.935 0 0 1 0 2.343c0-.269.094-.498.283-.686L1.657.283A.935.935 0 0 1 2.343 0c.27 0 .499.094.687.283L6 3.253 8.97.283A.935.935 0 0 1 9.657 0c.269 0 .498.094.686.283l1.374 1.374a.935.935 0 0 1 .283.686c0 .27-.094.499-.283.687L8.747 6l2.97 2.97a.935.935 0 0 1 .283.687z"/></svg>';
  } @else if $name == "copyright" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#{$color}" fill-rule="evenodd" d="M8.984 7.39v.852a.99.99 0 0 1-.285.695c-.19.204-.435.361-.734.473a5.37 5.37 0 0 1-1.84.34c-1.068 0-1.96-.362-2.676-1.086-.716-.724-1.074-1.625-1.074-2.703 0-1.057.354-1.94 1.063-2.649.708-.708 1.59-1.062 2.648-1.062a5.041 5.041 0 0 1 1.316.176c.269.07.51.159.723.265.214.107.393.254.54.442.145.187.218.398.218.633v.851c0 .084-.042.125-.125.125h-.922c-.083 0-.125-.041-.125-.125V4.07c0-.224-.17-.4-.512-.527a3.04 3.04 0 0 0-1.074-.191c-.73 0-1.324.238-1.785.714-.461.477-.692 1.095-.692 1.856 0 .786.239 1.436.715 1.95.477.512 1.085.769 1.824.769a3.31 3.31 0 0 0 1.079-.188c.364-.125.546-.297.546-.515V7.39c0-.037.012-.067.036-.09a.112.112 0 0 1 .082-.035h.93c.03 0 .06.011.085.035.026.023.04.053.04.09zM6 1a4.86 4.86 0 0 0-1.941.398 5.05 5.05 0 0 0-1.594 1.067 5.05 5.05 0 0 0-1.067 1.594A4.86 4.86 0 0 0 1 6c0 .677.133 1.324.398 1.941a5.05 5.05 0 0 0 1.067 1.594c.445.445.976.8 1.594 1.067A4.86 4.86 0 0 0 6 11a4.86 4.86 0 0 0 1.941-.398 5.05 5.05 0 0 0 1.594-1.067 5.05 5.05 0 0 0 1.067-1.594A4.86 4.86 0 0 0 11 6a4.86 4.86 0 0 0-.398-1.941 5.05 5.05 0 0 0-1.067-1.594 5.05 5.05 0 0 0-1.594-1.067A4.86 4.86 0 0 0 6 1zm6 5a5.87 5.87 0 0 1-.805 3.012 5.973 5.973 0 0 1-2.183 2.183A5.87 5.87 0 0 1 6 12a5.87 5.87 0 0 1-3.012-.805A5.973 5.973 0 0 1 .805 9.012 5.87 5.87 0 0 1 0 6a5.87 5.87 0 0 1 .805-3.012A5.973 5.973 0 0 1 2.988.805 5.87 5.87 0 0 1 6 0a5.87 5.87 0 0 1 3.012.805 5.973 5.973 0 0 1 2.183 2.183A5.87 5.87 0 0 1 12 6z"/></svg>';
  } @else if $name == "datepicker" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12"><path fill="#{$color}" fill-rule="evenodd" d="M5.356 2.169H7.06c.298 0 .54-.26.54-.579 0-.319-.242-.578-.54-.578H5.356c-.298 0-.54.259-.54.578 0 .32.242.579.54.579zM1.08 10.843h10.257V5.64H1.08v5.204zm11.336-9.2v9.779c0 .32-.241.578-.54.578H.54c-.298 0-.54-.259-.54-.578V1.644c0-.32.242-.632.54-.632h1.262c.298 0 .54.259.54.578 0 .32-.242.579-.54.579H1.08v2.458h10.257V2.169h-.722c-.299 0-.54-.26-.54-.579 0-.319.241-.578.54-.578h1.261c.299 0 .54.312.54.632zM8.772 3.298c.373 0 .675-.323.675-.723V.723c0-.4-.302-.723-.675-.723-.372 0-.674.324-.674.723v1.851c0 .4.302.723.674.723zM2.97 2.574V.723c0-.4.302-.723.675-.723.373 0 .675.324.675.723v1.851c0 .4-.302.723-.675.723-.373 0-.675-.323-.675-.723z"/></svg>';
  } @else if $name == "dropdown" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7"><path fill="#{$color}" fill-rule="evenodd" d="M12 .998a.38.38 0 0 1-.12.277L6.277 6.878a.38.38 0 0 1-.554 0L.12 1.275a.38.38 0 0 1 0-.554l.601-.6a.38.38 0 0 1 .554 0L6 4.845 10.725.12a.38.38 0 0 1 .554 0l.6.601c.08.08.121.173.121.277z"/></svg>';
  } @else if $name == "filter" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#{$color}" fill-rule="evenodd" d="M11.966.332c.097.233.057.432-.12.597l-4.2 4.202v6.324a.51.51 0 0 1-.333.502A.593.593 0 0 1 7.1 12a.506.506 0 0 1-.384-.162L4.534 9.656a.524.524 0 0 1-.162-.383V5.13L.171.929C-.006.764-.045.565.05.332A.51.51 0 0 1 .554 0h10.91a.51.51 0 0 1 .502.332z"/></svg>';
  } @else if $name == "inquire" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#{$color}" fill-rule="evenodd" d="M7 9.75v-1.5a.243.243 0 0 0-.07-.18.243.243 0 0 0-.18-.07h-1.5a.243.243 0 0 0-.18.07.243.243 0 0 0-.07.18v1.5c0 .073.023.133.07.18.047.047.107.07.18.07h1.5a.243.243 0 0 0 .18-.07.243.243 0 0 0 .07-.18zM9 4.5c0-.458-.145-.883-.434-1.273-.289-.391-.65-.693-1.082-.907A2.967 2.967 0 0 0 6.156 2c-1.265 0-2.232.555-2.898 1.664-.078.125-.057.234.062.328l1.032.781a.22.22 0 0 0 .148.047.23.23 0 0 0 .195-.093c.276-.355.5-.594.672-.72.177-.124.401-.187.672-.187.25 0 .473.068.668.203.195.136.293.29.293.461a.7.7 0 0 1-.156.477c-.104.12-.281.237-.532.351a2.676 2.676 0 0 0-.902.676c-.273.305-.41.632-.41.98v.282c0 .073.023.133.07.18.047.047.107.07.18.07h1.5a.243.243 0 0 0 .18-.07.243.243 0 0 0 .07-.18c0-.099.056-.228.168-.387a1.32 1.32 0 0 1 .426-.386c.166-.094.294-.168.383-.223a3.29 3.29 0 0 0 .359-.274c.151-.127.267-.252.348-.375A2.063 2.063 0 0 0 9 4.5zM12 6a5.87 5.87 0 0 1-.805 3.012 5.973 5.973 0 0 1-2.183 2.183A5.87 5.87 0 0 1 6 12a5.87 5.87 0 0 1-3.012-.805A5.973 5.973 0 0 1 .805 9.012 5.87 5.87 0 0 1 0 6a5.87 5.87 0 0 1 .805-3.012A5.973 5.973 0 0 1 2.988.805 5.87 5.87 0 0 1 6 0a5.87 5.87 0 0 1 3.012.805 5.973 5.973 0 0 1 2.183 2.183A5.87 5.87 0 0 1 12 6z"/></svg>';
  } @else if $name == "inverse-dropdown" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7"><path fill="#{$color}" fill-rule="evenodd" d="M12 6a.38.38 0 0 1-.12.277l-.601.6a.38.38 0 0 1-.554 0L6 2.153 1.275 6.878a.38.38 0 0 1-.554 0l-.6-.601a.38.38 0 0 1 0-.554L5.722.12a.38.38 0 0 1 .554 0l5.603 5.603c.08.08.12.173.12.277z"/></svg>';
  } @else if $name == "locked" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12"><path fill="#{$color}" fill-rule="evenodd" d="M2.727 5.455h4.364V3.818c0-.602-.213-1.116-.64-1.542a2.102 2.102 0 0 0-1.542-.64c-.602 0-1.116.213-1.543.64-.426.426-.639.94-.639 1.542v1.637zm7.091.818v4.909c0 .227-.08.42-.238.58A.789.789 0 0 1 9 12H.818a.789.789 0 0 1-.58-.239.789.789 0 0 1-.238-.58V6.274c0-.228.08-.42.239-.58a.789.789 0 0 1 .58-.238h.272V3.818c0-1.045.375-1.943 1.125-2.693S3.864 0 4.909 0c1.046 0 1.943.375 2.693 1.125s1.125 1.648 1.125 2.693v1.637H9c.227 0 .42.08.58.238.159.16.238.352.238.58z"/></svg>';
  } @else if $name == "next" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"><path fill="#{$color}" fill-rule="evenodd" d="M7.57 6.335l-5.523 5.524a.458.458 0 0 1-.335.141.458.458 0 0 1-.335-.141L.141 10.623A.458.458 0 0 1 0 10.288c0-.13.047-.24.141-.335L4.094 6 .141 2.047A.458.458 0 0 1 0 1.712c0-.129.047-.24.141-.335L1.377.141A.458.458 0 0 1 1.712 0c.13 0 .24.047.335.141l5.524 5.524A.458.458 0 0 1 7.712 6c0 .129-.047.24-.141.335z"/></svg>';
  } @else if $name == "previous" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"><path fill="#{$color}" fill-rule="evenodd" d="M7.57 2.047L3.619 6 7.57 9.953a.458.458 0 0 1 .141.335c0 .129-.047.24-.141.335l-1.236 1.236A.458.458 0 0 1 6 12a.458.458 0 0 1-.335-.141L.141 6.335A.458.458 0 0 1 0 6c0-.129.047-.24.141-.335L5.665.141A.458.458 0 0 1 6 0c.129 0 .24.047.335.141l1.236 1.236a.458.458 0 0 1 .141.335c0 .13-.047.24-.141.335z"/></svg>';
  } @else if $name == "search" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#{$color}" fill-rule="evenodd" d="M8.308 5.077c0-.89-.316-1.65-.949-2.283a3.112 3.112 0 0 0-2.282-.948c-.89 0-1.65.316-2.283.948a3.111 3.111 0 0 0-.948 2.283c0 .89.316 1.65.948 2.282a3.111 3.111 0 0 0 2.283.949c.89 0 1.65-.316 2.282-.949a3.112 3.112 0 0 0 .949-2.282zm3.692 6c0 .25-.091.466-.274.649a.887.887 0 0 1-.65.274.857.857 0 0 1-.648-.274L7.954 9.26c-.86.596-1.82.894-2.877.894a4.989 4.989 0 0 1-1.972-.4 5.076 5.076 0 0 1-1.623-1.082A5.076 5.076 0 0 1 .4 7.049 4.989 4.989 0 0 1 0 5.077c0-.688.133-1.345.4-1.972a5.076 5.076 0 0 1 1.082-1.623A5.076 5.076 0 0 1 3.105.4 4.989 4.989 0 0 1 5.077 0c.687 0 1.345.133 1.972.4a5.076 5.076 0 0 1 1.623 1.082c.454.454.815.995 1.082 1.623.266.627.4 1.284.4 1.972a4.938 4.938 0 0 1-.894 2.877l2.473 2.474a.883.883 0 0 1 .267.649z"/></svg>';
  } @else if $name == "sort-down" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5"><path fill="#{$color}" fill-rule="evenodd" d="M8.727.545a.524.524 0 0 1-.162.384L4.747 4.747a.524.524 0 0 1-.383.162.524.524 0 0 1-.384-.162L.162.93A.524.524 0 0 1 0 .545C0 .398.054.27.162.162A.524.524 0 0 1 .545 0h7.637c.148 0 .275.054.383.162a.524.524 0 0 1 .162.383z"/></svg>';
  } @else if $name == "sort-up" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5"><path fill="#{$color}" fill-rule="evenodd" d="M8.727 4.364a.524.524 0 0 1-.162.383.524.524 0 0 1-.383.162H.545a.524.524 0 0 1-.383-.162A.524.524 0 0 1 0 4.364c0-.148.054-.276.162-.384L3.98.162A.524.524 0 0 1 4.364 0c.147 0 .275.054.383.162L8.565 3.98a.524.524 0 0 1 .162.384z"/></svg>';
  } @else if $name == "tick" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"><path fill="#{$color}" fill-rule="evenodd" d="M12 1.796a.717.717 0 0 1-.217.527L6.178 7.928 5.125 8.98a.717.717 0 0 1-.526.216.717.717 0 0 1-.527-.216L3.02 7.928.217 5.125A.717.717 0 0 1 0 4.6c0-.207.072-.382.217-.527L1.27 3.02a.717.717 0 0 1 .526-.216c.207 0 .382.072.527.216l2.276 2.284L9.677.217A.717.717 0 0 1 10.204 0c.206 0 .382.072.526.217l1.053 1.053c.145.144.217.32.217.526z"/></svg>';
  } @else if $name == "unsorted" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12"><path fill="#{$color}" fill-rule="evenodd" d="M8.727 7.636a.524.524 0 0 1-.162.384l-3.818 3.818a.524.524 0 0 1-.383.162.524.524 0 0 1-.384-.162L.162 8.02A.524.524 0 0 1 0 7.636c0-.147.054-.275.162-.383a.524.524 0 0 1 .383-.162h7.637c.148 0 .275.054.383.162a.524.524 0 0 1 .162.383zm0-3.272a.524.524 0 0 1-.162.383.524.524 0 0 1-.383.162H.545a.524.524 0 0 1-.383-.162A.524.524 0 0 1 0 4.364c0-.148.054-.276.162-.384L3.98.162A.524.524 0 0 1 4.364 0c.147 0 .275.054.383.162L8.565 3.98a.524.524 0 0 1 .162.384z"/></svg>';
  } @else if $name == "trash" {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#{$color}" fill-rule="evenodd" d="M6.748 10.154c.25 0 .455-.212.461-.463l.134-5.694a.464.464 0 0 0-.45-.475.459.459 0 0 0-.473.449L6.286 9.67c-.006.255.196.484.45.484h.012zm-2.175 0h.01c.256 0 .457-.245.451-.5L4.9 3.953a.466.466 0 0 0-.472-.458.458.458 0 0 0-.45.469l.134 5.713c.006.251.21.477.46.477zm-.221-8.572h2.637V.923H4.352v.66zm6.989.528a.527.527 0 0 1-.528.527H.527a.527.527 0 0 1 0-1.055H3.43V.396c0-.255.17-.396.424-.396h3.634c.255 0 .425.14.425.396v1.186h2.901c.291 0 .528.237.528.528zM9.942 3.875L9.54 11.5a.527.527 0 0 1-.527.5H2.327a.527.527 0 0 1-.526-.5l-.403-7.625a.527.527 0 1 1 1.054-.055l.376 7.125h5.685l.376-7.125a.527.527 0 1 1 1.054.056z"/></svg>';
  }

  background-image: svg-url($svg);
}