{% set pageTitle = "Benpal Asia - Employee Benefits Management System | Interactive" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-benpal.png);"></section>

    <section class="section container pdt">
        <h1 class=""><img class="pdt__logo" src="../images/Benpal.png" alt="Benpal Asia" /></h1>
        <div class="pdt__slogan">Streamlined Employee Benefits Management</div>

        <h2 class="pdt__heading">About Benpal Asia</h2>
        <p class="pdt__p">
            Benpal Asia is an innovative platform, which helps organizations to gain the same level of control over their benefits schemes and data as they have in their finance and human resources areas. It enables companies of all sizes to manage their benefit schemes more efficiently, driving better value from the spend whilst enhancing communication and understanding. It is a single integrated platform for the complete management and administration of employee benefits. It uses an online shopping cart concept that is easy-to-use and familiar to most users. The interface is simple to navigate and provides clear benefit descriptions and selection options. Benpal Asia is the next generation rewards, compensations and benefits platform, designed to help sustain, attract, retain, engage and reward your valuable employees and manage your employee rewards and benefit programs.
        </p>

        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/" alt="">
                        <div class="pdt__usp-label">Benefit Allocation</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/" alt="">
                        <div class="pdt__usp-label">Self Service</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/" alt="">
                        <div class="pdt__usp-label">Marketplace</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/" alt="">
                        <div class="pdt__usp-label">Real-time Monitoring</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/" alt="">
                        <div class="pdt__usp-label">Chatbot</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/" alt="">
                        <div class="pdt__usp-label">Payment Gateway</div>
                    </div>
                </div>
            </div>
        </div>

        <p class="pdt__p">
            Employee Benefits are one of the important parts of any compensation package. Benefits help employees feel secured in multiple aspects of their career life by helping them manage the cost of healthcare and enjoy work life balance. When your employees feel secure, they perform better and stays longer in a company. This creates a positive work environment, helping companies better achieve their goals. Diverse organizations require different types of benefits and requirements to provide strategic compensations to their employees. A simple yet versatile system is beneficial to companies nowadays to provide the best strategic benefits for their employees. 
        </p>

        <div class="pdt__sub-heading">Key features of an Employee Benefit platform:</div><br>
        <p class="pdt__p">
            Benpal is an all in one platform that not only allows Employees to view their allocated Core Benefits but also provides an option to enroll voluntary products as well as upgrade existing benefits. With the Flexible Benefits feature, Employees can efficiently utilize their allocated points by submitting reimbursements through the system. Employee can add dependents and they can also be easily managed in the system as Benpal supports not just the employees but the benefits for dependents too.
        </p>

        <h2 class="pdt__heading">Quantitative Data</h2>
        <p class="pdt__p">
            Clients: <span class="pdt__sub-heading">20+</span><br>
            Employees: <span class="pdt__sub-heading">34000+</span><br>
            Benpal Asia is a solution which has helped to reduce workload and processing time for HR on benefits, communications & management of information across the organization.<br>

            <br>
            <span class="pdt__sub-heading">Benpal improves Employee Benefits processes and experiences of the company in the following segments</span>
            <br><br>

            1.	Turnaround time in approving a dependent<br>
            2.	Turnaround time in purchasing voluntary products, benefits<br>
            3.	Time spent in searching Employee / Dependent Data / Records<br>
            4.	Accuracy of Benefits / Flex Allocation (example: proration)
        </p>

        <h2 class="pdt__heading">Who is it for?</h2>
        <p class="pdt__p">
            Benpal Asia is particularly effective for client Human Resources professionals & Insurance EB Brokers from small to large scale organisations who need to better manage their benefits schemes in an efficient and cost effective manner.
        </p>

        <h2 class="pdt__heading">Key Benefits</h2>
        <p class="pdt__p">
            Benpal provides us a system wherein organizations will be able to control over their Employee Benefits in just one platform. It is designed to highly contribute to the users’ overall experience through services like Insurance Management, Reimbursement Management, Marketplace and Flexible Benefits Management with round the clock access and flexible purchasing process.
        </p>

        <div class="pdt__case-study" style="background-image: url(../images/case-study-benpal-asia.jpg);">
            <a class="" href="./case-study-benpal-asia.html">
                Case Study:
                <br />
                Employment Benefit Management
            </a>
        </div>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}