{% set pageTitle = "Case study - iCOVER | Interactive" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/case-study-icover.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Supporting insurance for the construction sector
            </div>
        </div>
    </section>

    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="icover.html">iCover</a>
            </li>
            <li class="breadcrumb__item">
                Case Study
            </li>
        </ul>
    </div>

    <section class="section container problem">
        <h2 class="section__heading text-left">The Problem</h2>

        <p class="section__p">A client in the construction sector approached Interactive for a solution to address several identified gaps in its insurance administration. The company wanted to:</p>

        <div class="row issues">
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 1</div>
                <div class="">Reduce the physical paperwork involved in the issuance of insurance related documents</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 2</div>
                <div class="">Develop a paperless workflow for the management of all their insurance needs, including All Risks and Workmen's Compensation covers</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 3</div>
                <div class="">Increase the speed of processing certificates of insurance</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 4</div>
                <div class="">Improve collaboration with business partners on insurance issues</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 5</div>
                <div class="">Enhance the ability to handle an increased volume of insurance paperwork</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 6</div>
                <div class="">Be able to better monitor processes and meet compliance standards</div>
            </div>
        </div>
    </section>

    <section class="section container">
        <h2 class="section__heading text-left">The Solution</h2>

        <p class="section__p">Interactive introduced iCOVER as the all-in-one solution to address these challenges and more.</p>

        <div class="solution">
            <img class="solution__img" src="../images/iCover.png" alt="iCover" />

            <div class="row justify-content-center">
                <div class="col-lg-3 solution__item first-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Digitise all the processes involved in insurance issuance to eliminate manual and hard copy filing and administration</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-3 solution__item second-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Provide a single platform to handle the entire range of insurance</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-3 solution__item third-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Speed up workflow and better controlled the approval and issuance of insurance contracts via in-built workflow management</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-3 solution__item fourth-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Reduce human error and make transactions more seamless via a predefined-rating engine</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-3 solution__item first-of-one-2">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Automated processes and open access to multiple parties allow save time and improve productivity</div>
                </div>
            </div>
        </div>

        <p class="section__p">iCOVER was able to eliminate manual and hard copy filing and administration and digitise all the processes involved in insurance issuance. Apart from being able to file and organise all related documentation online in the system, iCOVER also enabled the company to handle the entire range of insurance types in a single platform. The automation of certificate issuance, business transactions and invoicing and the ability to include multiple parties by providing a management platform to handle premiums, insurance documentation and data management was well-received as it saved time and enabled brokers to focus on core functions rather than routine/administrative tasks.</p>

        <p class="section__p">Another key function that made a significant positive impact was iCOVER's predefined-rating engine. This engine calculates premium automatically, reducing the margin for human error. It allows users to record client's payments against transactions using the accounting or Bordereau process – thereafter, transactions can be grouped together for billing and revenue recognition purposes.</p>

        <p class="section__p">The system also greatly improved the company's ability to promote compliance. The in-built workflow management solution allowed them to properly sequence actions, while the rules in the system controlled the approval and issuance of insurance contracts. This had the outcome of reducing inconsistencies and improving adherence to their insurance contract. One useful feature was the audit trail which improved accountability and transparency. </p>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}