{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-case-study-iclaims.png);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Streamlining claims administration
            </div>
        </div>
    </section>

    <section class="section container problem">
        <h2 class="section__heading text-left">The Problem</h2>

        <p class="section__p">A law society representing the interests of over 12,000 advocates and solicitors was facing multiple challenges in claims administration and receiving a high number of complaints. Key problems that were highlighted included the:</p>

        <div class="row issues">
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 1</div>
                <div class="">Inadequacy of the existing loss adjusting system; it was not suited to handle the administrative aspects of their Professional Indemnity Scheme</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 2</div>
                <div class="">Lack of centralised administration of claims and the inability to handle multiple party interactions</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 3</div>
                <div class="">Mishandling of claims due to having no proper processes for handling information/claim updates</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 4</div>
                <div class="">Inconsistency of system processes; and lack of tracking system to monitor process status and view claims histories</div>
            </div>
        </div>

        <p class="section__p">Its stakeholders – members and reinsurers – were also unable to obtain accurate information, data and statistics. This lack of direct stakeholder involvement exacerbated the growing backlog of open case files, which at one point numbered 2,500.</p>
    </section>

    <section class="section container">
        <h2 class="section__heading text-left">The Solution</h2>
        
        <p class="section__p">When JLT was appointed as managers and administrators of the Professional Indemnity Scheme, it recommended Interactive's web-based claims management system to manage the Society's claims portfolio.</p>

        <p class="section__p">The system automated the Society's entire claims recording and management process. This meant documents, performance measurements, data validation and most importantly, the use of risk management metrics to measure and manage claims could be electronically filed, searched, compiled and analysed. With detailed reports including triangulation reports, the client now has complete insight into claims data.</p>

        <p class="section__p">iClaims also streamlined the loss coding systems and enabled the Society to highlight the areas that contributed to key losses. This made a significant impact on their ability to improve risk management practices and subsequently led to an improved adherence of risk management protocols Society's the various member law firms.</p>

        <div class="solution">
            <img class="solution__img" src="../images/iClaims.png" />

            <div class="row justify-content-center">
                <div class="col-lg-4 solution__item first-of-three">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Automate the Society's entire claims recording and management process to enable information to be electronically filed, searched, compiled and analysed</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-4 solution__item second-of-three">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Streamline the loss coding systems, enabling the Society to highlight areas that contributed to key losses</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-4 solution__item third-of-three">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Link all parties to enable claimants direct access to monitor claims</div>
                </div>
            </div>
        </div>

        <p class="section__p">Overall, turnaround time in claims notification and settlement was also improved. The insurer and reinsurer now have direct access to the system and are completely up to speed on the progress of claims.</p>
            
        <p class="section__p">In addition, iClaims linked all parties – third party administrators, law society members, JLT brokers, panel solicitors, insurers and reinsurers – enabling claimants direct access to the claims, allowing them to monitor their progress. The Law Society continues to use iClaims and has been doing so for the last five years.</p>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}