{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/case-study-icargo.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Taking the Complexity out of Cargo Insurance
            </div>
        </div>
    </section>

    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="icargo.html">iCargo</a>
            </li>
            <li class="breadcrumb__item">
                Case Study
            </li>
        </ul>
    </div>

    <section class="section container problem">
        <h2 class="section__heading text-left">The Problem</h2>

        <p class="section__p">A MNC in the shipping trade approached Interactive for a solution to address several perennial challenges encountered in the sector. For one, the company was looking to improve productivity in the administration of cargo and storage insurance - an integral part of business involved in shipping and logistics. A major challenge was raised by the client that there was the need to handle a high volume of - often complicated - transactions. Another critical issue was the time and resources that was wasted in the multi-step, multi-party submission and approval of claims process. The client also wanted to roll out an enterprise-wide solution to ensure consistency in reporting and standards throughout its multiple bases of operation.        </p>

        <div class="row issues">
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 1</div>
                <div class="">Improvement was needed to increase productivity in the misson critical administration of cargo and storage</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 2</div>
                <div class="">There was a need to streamline the handling of large volumes of transactions, some of them complicated</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 3</div>
                <div class="">The time and resources were being wasted in the multi-step, multi-party submission and approval of claims process</div>
            </div>
            <div class="col-lg-3 issues__item">
                <div class="issues__heading">Issue: 4</div>
                <div class="">There was a need for an enterprise-wide solution to ensure consistency in reporting and standards throughout its multiple bases of operation</div>
            </div>
        </div>
    </section>

    <section class="section container">
        <h2 class="section__heading text-left">The Solution</h2>

        <p class="section__p">iCargo was recommended and implemented. iCargo enabled the MNC to integrate all aspects of its cargo and storage insurance processes into a single web-based solution. iCargo is able to streamline and consolidate disparate local standards and processes into a single consistent standard operating procedure.</p>

        <div class="solution">
            <img class="solution__img" src="../images/iCargo.png" />

            <div class="row justify-content-center">
                <div class="col-lg-3 solution__item first-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Unite disparate local standards and processes into a standard operating procedure</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-3 solution__item second-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Complete the range of cargo insurance processes in a few easy steps and across multiple parties and exposure levels</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-3 solution__item third-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Reduce human error and promote compliance under the fully-configurable system</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-3 solution__item fourth-of-four">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Improve productivity with bulk upload and templates</div>
                </div>
            </div>
        </div>

        <p class="section__p">iCargo enabled the company the ability to buy and issue Certificates of Insurance and calculate premiums, generate voyage, time charter, cargo and stock declarations in a few easy steps and do so across multiple parties and exposure levels. The system's bulk upload and templates feature made a major impact on productivity, allowing the client to create multiple transactions (from two to as many as 1,000) in a single process and reducing the need for repetitive and manual data entry.</p>
        
        <p class="section__p">The iCargo fully-configurable system was also customised to accommodate client-specified system rules and parameters to reduce human error and promorte compliance.</p>

        <p class="section__p">Greater transparency and accountability was also achieved with iCargo's in-built feature to automatically send notifications to all relevant parties to trigger action and expedite closure. In addition, the system enabled the MNC adopt paperless filing of all related claims documents (including emails), supports ad-hoc report generation, improves analytics and creates auditable trails through every claim cycle.</p>

        <p class="section__p">Overall, iCargo provided a cost-effective marine cargo insurance processing system to drive productivity, compliance, transpareny and collaboration.</p>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}