{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/case-study-benpal-asia.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Employment Benefit Management
            </div>
        </div>
    </section>

    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb__item">
                <a class="breadcrumb__link" href="benpal-asia.html">Benpal</a>
            </li>
            <li class="breadcrumb__item">
                Case Study
            </li>
        </ul>
    </div>

    <section class="section container problem">
        <h2 class="section__heading text-left">Background</h2>

        <p class="section__p">While previously manual management of Employee Benefits requires tedious documentation, computation and record keeping, with Benpal, complete Employee and Dependent benefits management made simple. Benpal delivered efﬁciencies and superior performance in almost every aspect of employee benefits, data analysis and benefits / insurance renewals at our clients’ global operations.</p>
    </section>

    <section class="section container">
        <h2 class="section__heading text-left">Issues / Challenges</h2>

        <p class="section__p">Historically, due to different departments / Business units along with Multiple Job levels, it was difficult for the client to administer the benefits. To further add on, the scheme design got more complex due to the complicated enrolment and product logic basis a combination of parameters. The scheme design and benefit administration was different across asia due to the difference in the nature of operations and demography. This was becoming challenging for the HR in absence of an integrated portal.</p>

        <div class="solution">
            <img class="solution__img" src="../images/Benpal.png" alt="Benpal asia" />

            <div class="row justify-content-center">
                <div class="col-lg-4 solution__item first-of-three">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Enable easy customisation and dissemination of risk assessment questionnaire via an integrated online portal</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-4 solution__item second-of-three">
                    <div class="solution__heading">Solution:</div>
                    <div class="">Allow real-time monitoring at any point in the data collection</div>

                    <hr class="solution__separator" />
                </div>
                <div class="col-lg-4 solution__item third-of-three">
                    <div class="solution__heading">Solution:</div>
                    <div class="">24-7 access facilitates and streamlines the creation, location management and collection of data</div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section container">
        <h2 class="pdt__heading">Benefits</h2>
        <p class="pdt__p">
            Benpal provides us a system wherein organizations will be able to control over their Employee Benefits in just one platform. It is designed to highly contribute to the users’ overall experience through services like Insurance Management, Reimbursement Management, Marketplace and Flexible Benefits Management with round the clock access and flexible purchasing process.
            <br><br>
            1.	Enhanced the employer brand in positioning the company in a better place<br>
            2.	Created competitive advantage to attract and retain talent <br>
            3.	Increased employee engagement by creating a culture of ownership and responsibility<br>
            4.	Improved the cost efficiency of the benefits provided<br>
            5.	Reduced workload and processing time for HR on benefits, communications & management<br>
            6.	Tailored / Customized reward package meeting the needs of your employees<br>
            7.	Online, 24/7 access for all employees to manage their employee benefits package <br>
            8.	Increased employee understanding and engagement with their total benefits package
        </p>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}