{% set pageTitle = "Contact us | Interactive" %}
{% set page = "contact" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-contact-us.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Contact us
            </div>
        </div>
    </section>

    <section class="section container">
        <h1 class="section__heading text-left">Contact us</h1>
        
        <div class="contact">
            <div class="contact__col">
                <div class="contact__heading">JLT Interactive Pte. Ltd.</div>
                <p class="contact__p">
                    8 Marina View, <br>
                    #09-02 Asia Square Tower 1, <br>
                    Singapore 018960<br>
                    (Subsidiary of the Marsh & McLennan Companies Group [“MMC”])
                </p>
            </div>
            <div class="">
                <div class="contact__heading">Email or Call us</div>
                <p class="contact__p">
                    <i class="icon-envelop contact__icon"></i>
                    interactive_info@mmc.com
                </p>
                <p class="contact__p">
                    <i class="icon-phone contact__icon"></i>
                    +65 6500 0495
                </p>
            </div>
        </div>
        
    </section>
{% endblock %}

{% block js %} {% endblock %}