{% set page = "index" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-network-globe.png);">
    </section>

    <section class="section container">
        <div class="section__heading-icon-box">
            <div class="section__heading-icon-box__inner">
                <img class="section__heading-icon" src="../images/digital-experts.png" />
            </div>
        </div>
        
        <h1 class="section__heading is-page">Digital Experts</h1>
        <div class="section__sub is-page">&ldquo;Let us partner with you to create strategic perspectives to bring value for you and your customers.&rdquo;</div>

        <p class="section__p">
            Be it to leverage on technological tools to improve existing processes, to accelerate workflow efficiencies, maximized ROI, better risk management or to have a digital transformation to deliver a 360 customer experience to customers, staff, and stakeholders across business. Our digital experts provide the consulting to translate insight for a roadmap and business case to ensure that strategic recommendations reflect current business exigencies.
        </p>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="view-more">
        <a class="btn btn--info" href="./">Back To Homepage</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}