{% set pageTitle = "User Interface and User Experience | Interactive" %}
{% set page = "index" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-network-globe.png);">
    </section>

    <section class="section container">
        <div class="section__heading-icon-box">
            <div class="section__heading-icon-box__inner">
                <img class="section__heading-icon" src="../images/quality.png" />
            </div>
        </div>

        <h1 class="section__heading is-page">Quality</h1>

        <p class="section__p">Interactive takes quality to heart. All solutions and software applications undergo end-to-end functional and performance testing. This is done by our Software Testing and Assure Reliability (STAR) Team.</p>

        <div class="section__sub is-page">&ldquo;We assure quality and reliability and always are dedicated to deliver stable and secure software applications with strict adherence to agreed timelines.&rdquo;</div>

        <p class="section__p">
            Our testing includes:
            <ul class="section__points">
                <li>Test schedules dates</li>
                <li>SIT and UAT test cases</li>
                <li>System testing</li>
                <li>System integration testing</li>
                <li>Data and technology migration testing</li>
                <li>Non-functional testing / A/B testing</li>
                <li>Performance and Security testing</li>
            </ul>
        </p>
        <p class="section__p">
            As part of our organization ongoing service quality assurance, a mandatory vulnerability testing is conducted on across all of our testing composites.
        </p>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <a class="btn btn--info" href="./">Back To Homepage</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}