{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-icargo.png);"></section>

    <section class="section container pdt">
        <h1 class=""><img class="pdt__logo" src="../images/iCargo.png" alt="iCargo" /></h1>
        <div class="pdt__slogan">Cargo insurance made easier</div>

        <h2 class="pdt__heading">About iCargo</h2>
        <p class="pdt__p">
            iCargo is our proprietary, Online cargo insurance management system to manage end to end Cargo Insurance including client's management. iCargo is an integrated comprehensive end-to-end solution. It provides a clear, easy-to-use, web-based administrative structure to streamline business process, increase productivity, improve record keeping and enhance data analytics.
        </p>
        <p class="pdt__p">
            Our eight modules can be configured to your specific needs - and mixed and matched to individual specifications. 
            iCargo is designed to add comvenience to processes such as:
        </p>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-1.png">
                        <div class="pdt__usp-label">Claims</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-2.png">
                        <div class="pdt__usp-label">Reporting</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-3.png">
                        <div class="pdt__usp-label">Transactions</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-4.png">
                        <div class="pdt__usp-label">Document and Useful Links Depository</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-5.png">
                        <div class="pdt__usp-label">Incident tracking</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-6.png">
                        <div class="pdt__usp-label">Dashboard Oversight</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-7.png">
                        <div class="pdt__usp-label">On-line accounting</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icargo-icon-8.png">
                        <div class="pdt__usp-label">Warehouse Self-assessment</div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="pdt__heading">What can iCargo do?</h2>
        <p class="pdt__p">
            Built specifically for the Marine Cargo business, iCargo is a multi-language cradle-to-grave system that can handle all aspects of the claims process system, including but not limited to: producing Certificates of Insurance, recording individual shipment data, shipment and warehousing data; bulk uploading transactions; and pricing premium and calculating transactions.
        </p>
        <p class="pdt__p">
            The system automates many of these processes and keeps all relevant parties are notified at each stage. You can also view information in real-time for increased transparency and productivity.
        </p>
        <p class="pdt__p">
            iCargo is an ecosystem built around a community of active international and local insurance players that includes loss adjustors, recovery agents and brokers with whom JLT has held a long-established partnership.
        </p>

        <div class="pdt__case-study" style="background-image: url(../images/case-study-icargo.jpg);">
            <a class="" href="./case-study-icargo.html">
                Case Study:
                <br />
                Taking the Complexity out of Cargo Insurance
            </a>
        </div>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}