{% set pageTitle = "iCLAIMS - Claims Management Solution | Interactive" %}
{% set page = "services" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-iclaims.jpg);"></section>

    <section class="section container pdt">
        <h1 class=""><img class="pdt__logo" src="../images/iClaims.png" alt="iClaims" /></h1>
        <div class="pdt__slogan">Comprehensive Claims Management</div>

        <h2 class="pdt__heading">About iCLAIMS</h2>
        <p class="pdt__p">
            iClaims automates, coordinates and consolidates all administrative processes for claims submission, monitoring and resolution. This comprehensive claims management solution covers the spectrum of claims processes: from promoting an incident and insurance claim to tracking financial costs and generating aggregation reports. iClaims is also fully-configurable and can manage and track several classes of insurance and different risk management parameters for any class of insurance. The web-based claims solution manages claims portfolio comprehensively within the provisions of your insurance arrangement to:
        </p>

        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/iclaims-icon-5.png" alt="">
                        <div class="pdt__usp-label">Automate workflows</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/iclaims-icon-4.png" alt="">
                        <div class="pdt__usp-label">Manage and register incidents</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/iclaims-icon-1.png" alt="">
                        <div class="pdt__usp-label">Submit, monitor and resolve claims online</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/iclaims-icon-2.png" alt="">
                        <div class="pdt__usp-label">Manage and monitor claim financials in real-time</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/iclaims-icon-6.png" alt="">
                        <div class="pdt__usp-label">Notify and delegate tasks</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="pdt__usp-icon" src="../images/iclaims-icon-3.png" alt="">
                        <div class="pdt__usp-label">Generate reports for analysis</div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="pdt__heading">What can iCLAIMS do?</h2>
        <p class="pdt__p">
            The web-based system automates and coordinates the administration of claims across the submission, monitoring and resolution spectrum. iClaims offers a single congruent platform for all relevant parties involved in the claims process, promoting collaboration and standardisation for better organisational efficiency. For instance, it can convert disparate local claims standards and processes into a global standard database. External stakeholders too can be integrated into the workflow process and notified about required actions to minimise the potential for delays and to ensure that all parties have access to the latest information. The iClaims system can also be configured with varying levels of data security so that information access can be better controlled; only authorised stakeholders will be able to access and edit specific data.
        </p>

        <div class="pdt__case-study" style="background-image: url(../images/case-study-iclaims.jpg);">
            <a class="" href="./case-study-iclaims.html">
                Case Study:
                <br />
                Streamlining claims administration
            </a>
        </div>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}