{% extends "./layout/default.twig.html" %}

{% block content %}
    <!-- TODO: image -->
    <section class="hero" style="background-image: url(../images/bg-icover.png);"></section>

    <section class="section container pdt">
        <h1 class=""><img class="pdt__logo" src="../images/iCover.png" alt="iCover" /></h1>
        <div class="pdt__slogan">Streamline Construction Insurance Processes</div>

        <h2 class="pdt__heading">About iCOVER</h2>
        <p class="pdt__p">
            iCOVER is Interactive's web-based insurance processing solution for the construction sector that streamlines business processes and speeds up the insurance buying process. The highly-configurable all-in-one platform is easy-to-use and can be easily rolled out enterprise-wide to standardise and expedite business activities. iCOVER enables companies with an agreed insurance facility to purchase insurance and receive the required documentation directly and immediately, automate operations of cover issuance and act as a single secure repository for transaction documents. iCOVER can:
        </p>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icover-icon-1.png">
                        <div class="pdt__usp-label">Generate Certificate of Insurance and other customised documents</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icover-icon-2.png">
                        <div class="pdt__usp-label">Create customised reports</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icover-icon-3.png">
                        <div class="pdt__usp-label">Send email notifications to various parties for the relevant action</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icover-icon-4.png">
                        <div class="pdt__usp-label">Bill online individually or in batches</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icover-icon-5.png">
                        <div class="pdt__usp-label">Organise business units and user hierarchy</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/icover-icon-6.png">
                        <div class="pdt__usp-label">Send email reminders for contract extensions and payment reminders</div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="pdt__heading">About iCOVER</h2>
        <p class="pdt__p">
            iCOVER offers a single congruent platform to enable companies with an agreed insurance facility to purchase insurance and receive the documentation directly and immediately. The system automates the operations of cover issuance to a single point of reference. This means all transaction documents can be filed with appropriate security access controls. The web-based system also makes it easy for all parties involved to view information and collaborate in real time. Significantly, iCOVER gives end-users complete control and oversight of insurance-related documents and system alerts.
        </p>

        <!-- TODO: image -->
        <div class="pdt__case-study" style="background-image: url(../images/case-study-icover.jpg);">
            <a class="" href="./case-study-icover.html">
                Case Study:
                <br />
                Supporting insurance for the construction sector
            </a>
        </div>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}