{% set pageTitle = "Digital Solution Provider | Interactive" %}
{% set page = "about-us" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero is-lg" style="background-image: url(../images/bg-network-globe.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                JLT Interactive a digital solution provider specializing in the development of Insurance and Risk Management software solutions and products.
            </div>
        </div>
    </section>

    <section class="section container about-us">
        <a class="d-none" href="#!" data-toggle="modal" data-target="#modalInfographic">
            <img class="about-us__infographic-img" src="../images/who-we-are-Infographic.jpg" alt="JLT Interactive Infographic" />
        </a>
        <div class="">
            <h1 class="section__heading text-left">We are Interactive</h1>

            <p class="section__p">JLT Interactive (Interactive) is the digital solution provider specializing in Insurance and Risk Management software solutions and products development. Interactive focuses exclusively on technology enablement of our services for our large corporate clients worldwide. Large enterprises with geographically diverse portfolio with a risk management focus and data handling needs leverage on our flagship solution to improve the efficiency of its insurance operations and to enhance their management of enterprise risk.</p>

            <ul class="about-us__list">
                <li class="about-us__list-item">Consolidate responsibilities</li>
                <li class="about-us__list-item">Obtain real-time access to enterprise-wide information for enhanced planning and effective decisions</li>
                <li class="about-us__list-item">Improve collaboration among internal and external stakeholders</li>
            </ul>

            <p class="section__p">Interactive was established as an independent company on April 2005. Our products have mostly evolved over the years based on demands from various clients.</p>

            <p class="section__p">We build easy-to-use customised software solutions that take the hassle out of business operations – so you can focus on the things that matter.</p>

            <p class="section__p">The interactive technology solutions help our clients consolidate responsibilities in the context of insurance buying and Enterprise Risk Management. It further assists in improving the collaboration between internal and external stakeholders. The systems provide real time access to group wide information for better planning and decision making.</p>
        </div>
    </section>

    <section class="section container d-none">
        <h2 class="section__heading m-left">Our Services</h2>

        <div class="section__sub m-left">Specialists in tailor-made insurance and risk management solutions</div>

        <div class="service-bullets">
            <div class="row">
                <div class="col-md-4">
                    <ul class="service-bullets__list">
                        <li class="service-bullets__list-item">Manage risk exposure</li>
                        <li class="service-bullets__list-item">Consolidate documentation</li>
                        <li class="service-bullets__list-item">Automate routine processes</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="service-bullets__list">
                        <li class="service-bullets__list-item">Streamline operations</li>
                        <li class="service-bullets__list-item">Collate data for analysis</li>
                        <li class="service-bullets__list-item">Receive documentation faster</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="service-bullets__list">
                        <li class="service-bullets__list-item">Improve record keeping</li>
                        <li class="service-bullets__list-item">Reduce paperwork</li>
                        <li class="service-bullets__list-item">Simplify claims submissions</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="service-box row">
            <div class="col-md-4">
                <div class="service-box__item">
                    <div class="service-box__heading">Complicated Claims</div>
                    <div class="service-box__desc">Simplify and streamline your entire claims process: from submission, monitoring and resolution processing.</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box__item">
                    <div class="service-box__heading">Multiple Points of Contact</div>
                    <div class="service-box__desc">Tired of seeking out the best rates on your own? Leave it to us to link you up – automatically - to the best the sector has to offer</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box__item">
                    <div class="service-box__heading">Unproductive Paper Trail</div>
                    <div class="service-box__desc">Do away with manual filing and towers of paperwork. Digitise reports, claims, correspondence and more under one roof.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="section container global-reach">
        <h2 class="section__heading">Our Global Reach</h2>

        <div class="global-reach__facts">
            <div class="global-reach__facts-inner">
                <div class="global-reach__fact-left">
                    <div class="global-reach__fact po-1">
                        <div class="global-reach__fact-num">15+ Years</div>
                        <div class="global-reach__fact-what">In the business</div>
                    </div>
                    <div class="global-reach__fact po-2">
                        <div class="global-reach__fact-num">Over 400</div>
                        <div class="global-reach__fact-what">Renewals</div>
                    </div>
                    <div class="global-reach__fact po-3">
                        <div class="global-reach__fact-num">Over 2 Million</div>
                        <div class="global-reach__fact-what">Transactions</div>
                    </div>
                </div>

                <div class="global-reach__fact-right">
                    <div class="global-reach__fact po-4">
                        <div class="global-reach__fact-num">Over 100 Countries</div>
                        <div class="global-reach__fact-what">Client Locations</div>
                    </div>
                    <div class="global-reach__fact po-5">
                        <div class="global-reach__fact-num">50+</div>
                        <div class="global-reach__fact-what">Consultants & Specialists</div>
                    </div>
                    <div class="global-reach__fact po-6">
                        <div class="global-reach__fact-num">2</div>
                        <div class="global-reach__fact-what">Development & Support Centres</div>
                    </div>
                </div>
            </div>
            <div class="global-reach__facts-ra">&rsaquo;</div>
        </div>

        <img class="global-reach__img img-fluid" src="../images/global-reach.png" alt="Interactive Global Reach" />
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>

    <div class="modal" id="modalInfographic" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="image">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <img class="about-us__infographic-img is-modal" src="../images/who-we-are-Infographic.jpg" alt="JLT Interactive Infographic" />
            </div>
        </div>
    </div>
{% endblock %}

{% block js %} {% endblock %}