{% set pageTitle = "Insure Portal - Insurance Turnkey Portal | Interactive" %}
{% set page = "services" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-insure-portal.jpg);"></section>

    <section class="section container pdt">
        <h1 class=""><img class="pdt__logo" src="../images/Insure-Portal.png" alt="Insure Portal" /></h1>
        <div class="pdt__slogan">Rate | Quote | Bind</div>

        <h2 class="pdt__heading">About Insure Portal</h2>
        <p class="pdt__p">
            Insure Portal is an online insurance full turnkey portal, provides start up's and SME's with access to comprehensive, competitively priced insurance solutions online, from the convenience of their home or office. The portal allows the user to purchase Health and Commercial insurance policies. Easy-to-use portal enables you to access the competitive quotes from various insurers for commercial insurance products, pay online, and download your policy all within 5 minutes. For health insurance; policies can be tailored to meet client business requirements and budget and manage member additions, cancellations and policy renewal from a single platform – simple, quick and convenient.
        </p>
        <p class="pdt__p">
            The solution is integrated with dynamic in-built rating engine and real time API functionality to get quote from the Insurer Partners, perform payment transaction (Payment Gateway Service Provider). The system is facilitated to store documents in Document Management System (integrated with SharePoint). Specifically designed for commercial and consumer segments, to streamline, simplify and automate the rate-quote-bind process with online capabilities and excellent user experience (UX), Insure Portal has the following core components, capabilities:
        </p>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="row justify-content-md-center">
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-1.png" alt="">
                        <div class="pdt__usp-label">Health Insurance Products</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-2.png" alt="">
                        <div class="pdt__usp-label">Commercial Insurance Products</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-3.png" alt="">
                        <div class="pdt__usp-label">Client | Consultant Zone</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-4.png" alt="">
                        <div class="pdt__usp-label">Broker Zone</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-5.png" alt="">
                        <div class="pdt__usp-label">In-built Rating Engine</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-6.png" alt="">
                        <div class="pdt__usp-label">Real-time API Integration</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-7.png" alt="">
                        <div class="pdt__usp-label">Payment Gateway</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-8.png" alt="">
                        <div class="pdt__usp-label">Document Management (DMS)</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-9.png" alt="">
                        <div class="pdt__usp-label">Workflow Management</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/iris-icon-9.png" alt="">
                        <div class="pdt__usp-label">Content Management</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-11.png" alt="">
                        <div class="pdt__usp-label">Self-Registration</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-12.png" alt="">
                        <div class="pdt__usp-label">Multi-lingual</div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="pdt__heading">What can Insure Portal do?</h2>
        <p class="pdt__p">
            With small and medium enterprises being considered strategic drivers of growth, innovation and job creation; business owners are looking for ways to achieve growth and sustainability whilst minimizing their challenges and risks. It is our business to be there for you. Insure Portal enables us protect your business so you can focus on growing yours.
        </p>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}