{% set pageTitle = "Insure Portal - Employee Benefits Management System | Interactive" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-insure-portal.jpg);"></section>

    <section class="section container pdt">
        <h1 class=""><img class="pdt__logo" src="../images/Insure-Portal.png" alt="Insure Portal" /></h1>
        <div class="pdt__slogan">Streamlined Employee Benefits Management</div>

        <h2 class="pdt__heading">About Insure Portal</h2>
        <p class="pdt__p">
            Insure portal is an online insurance full turnkey portal, provides start up’s and SME’s in the UAE with access to comprehensive, competitively priced insurance solutions online, from the convenience of their home or office. The portal allows the user to purchase Health and Business insurance policies with in UAE for Onshore OR Free zone Companies. Easy-to-use portal enables you to access business insurance comparison quotes, pay online, and download your policy all within 5 minutes. For health insurance; policies can be tailored to meet client business requirements and budget and manage member additions, cancellations and policy renewal from a single platform – simple, quick and convenient.
        </p>
        <p class="pdt__p">
            The solution is integrated with dynamic rate engine generation and real time API functionality to get quote from the Insurer Partners, perform payment transaction (Payment Gateway Service Provider). The system is facilitated to store documents in Document Management System (integrated with SharePoint). 
        </p>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="row justify-content-md-center">
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-waiting.png" alt="">
                        <div class="pdt__usp-label">No sub-limit and optional no waiting period</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-customised-report.png" alt="">
                        <div class="pdt__usp-label">Create customised reports</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-employees.png" alt="">
                        <div class="pdt__usp-label">Number of employees</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-health-insurance.png" alt="">
                        <div class="pdt__usp-label">Health Insurance</div>
                    </div>

                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-multiple-plans.png" alt="">
                        <div class="pdt__usp-label">Multiple plans</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-flexibility.png" alt="">
                        <div class="pdt__usp-label">Flexibility</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-members.png" alt="">
                        <div class="pdt__usp-label">Eligible members age</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-business-insurance.png" alt="">
                        <div class="pdt__usp-label">Business Insurance</div>
                    </div>

                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-payment-gateway.png" alt="">
                        <div class="pdt__usp-label">Payment Gateway</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-doc-system.png" alt="">
                        <div class="pdt__usp-label">Document Management System</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-consultant.png" alt="">
                        <div class="pdt__usp-label">Consultant Zone</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/insure-portal-icon-broker.png" alt="">
                        <div class="pdt__usp-label">Broker Zone</div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="pdt__heading">What can Insure Portal do?</h2>
        <p class="pdt__p">
            Insure portal provides start up's and SME's with access to comprehensive, competitively priced insurance solutions online, from the convenience of their home or office. The portal allows the user to purchase Health and Business insurance policies with in UAE for Onshore or Free zone Companies. It is our business to be there for you. Insure lets us protect your business so you can focus on growing yours.
        </p>
        <p class="pdt__p">
            With small and medium enterprises, in the UAE, being considered strategic drivers of growth, innovation and job creation; business owners are looking for ways to achieve growth and sustainability whilst minimising their challenges and risks. Insure, our dedicated insurance full turnkey portal, provides start up's and SME's in the UAE with access to comprehensive, competitively priced insurance solutions online, from the convenience of their home or office.
        </p>

        <div class="pdt__case-study" style="background-image: url(../images/case-study-insure-portal.jpg);">
            <div class="content">
                Case Study:
                <br />
                Protect your Health and Business with Insure Portal
            </div>
        </div>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}