{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-iris.png);"></section>

    <section class="section container pdt">
        <h1 class=""><img class="pdt__logo" src="../images/iris.png" alt="iRis" /></h1>
        <div class="pdt__slogan">Your gateway to concise insurance market information</div>

        <h2 class="pdt__heading">About iRIS</h2>
        <p class="pdt__p">
            iRIS is a powerful information portal that provides a consolidated platform to strategically maintain, manage and analyse risk exposures, associated risk transfers and policy documents. The system enables the electronic collection and collation of risk information seamlessly across multiple locations. Integrated with notification, report-generation and document management functions, iRIS facilitates communication, promotion and educational needs of global risk management and seamlessly. It also integrates these functions with the management of insurance and risk management data and processes. Specifically designed for multinational companies and their global requirements, iRIS can:
        </p>

        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/iris-icon-1.png">
                        <div class="pdt__usp-label">Deliver customised e-questionnaires (risk, asset and underwriting information) across locations</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/iris-icon-2.png">
                        <div class="pdt__usp-label">Allocate premium costs and currency conversions</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/iris-icon-3.png">
                        <div class="pdt__usp-label">Collate information, policy summaries and documents</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/iris-icon-4.png">
                        <div class="pdt__usp-label">Generate point-in-time and comprehensive reports</div>
                    </div>
                    <div class="col-6 col-md-3">
                        <img class="pdt__usp-icon" src="../images/iris-icon-5.png">
                        <div class="pdt__usp-label">End-to-End comprehensive Enterprise Risk Management</div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="pdt__heading">What can iRIS do?</h2>
        <p class="pdt__p">
            iRIS makes it easy to collate risk information, policy summaries and documents across multiple locations. Instead of manually underwriting data and risk information via emailed questionnaires, iRIS provides a single platform to create and deliver e-questionnaires and trigger timely response. The system also eliminates manual collation of information. Instead it can automatically pull responses and generate reports. This streamlines and speeds up the risk management process.
        </p>

        <div class="pdt__case-study" style="background-image: url(../images/case-study-iris.jpg);">
            <a class="" href="./case-study-iris.html">
                Case Study:
                <br />
                ???
            </a>
        </div>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}