{% set page = "index" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-knowledge-management.jpg);">
    </section>

    <section class="section container">
        <div class="section__heading-icon-box">
            <div class="section__heading-icon-box__inner">
                <img class="section__heading-icon" src="../images/knowledge.png" />
            </div>
        </div>

        <h1 class="section__heading is-page">Knowledge Management</h1>

        <p class="section__p">Interactive proprietary secured online portal for risk and insurance information. The portal consolidate and enable readily access to all relevant insurance and claims documents and make it easy to perform key functions effectively and efficiently anywhere and anytime.</p>

        <div class="section__sub is-page">&ldquo;Fingertip access to quick domain related knowledge and updates on the go&rdquo;</div>

        <p class="section__p">
            The fundamental design principle of Knowledge Management is to deliver value to the client in a rapid and scalable manner where integration with our in-house eco-system of technological solutions offering can be enabled.
        </p>

        <p class="section__p">
            Knowledge Management serves as a platform to upload and share industry relevant documents with client users. This means brokers and clients can access their insurance details in real-time; be it a review of current premiums or downloading a policy details.
        </p>
        <p class="section__p">
            The portal implements a role based security model where user(s) will have access only to information they are privileged to have. The system also implements standard industry strength security protocols for data at rest and in transit.
        </p>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <a class="btn btn--info" href="./">Back To Homepage</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}