{% set pageTitle = "Specialities | Interactive" %}
{% set page = "specialties" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-network-globe.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                JLT Interactive is the Digital Solution Provider; we deliver tailor made digital solutions for the insurance and Risk Management Space
            </div>
        </div>
    </section>

    <section class="section container">
        <h2 class="section__heading">Our Specialities</h2>
        <div class="section__sub">Leverage on our Subject Matter Specialists for a tailored solution</div>

        <div class="row justify-content-md-center specialty">
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./digital-experts.html">
                    <img class="specialty__icon animate__animated" src="../images/digital-experts.png" alt="" />
                    <div class="specialty__info">
                        <div class="specialty__title">Digital Experts</div>
                        <div class="specialty__desc">Solve industry challenges with seamless digital solutions customised for your needs</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./subject-matter-experts.html">
                    <img class="specialty__icon animate__animated" src="../images/subject-matter-experts.png" alt="" />
                    <div class="specialty__info">
                        <div class="specialty__title">Subject Matter Experts</div>
                        <div class="specialty__desc">Tap the expertise of our diverse team of domain experts</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./digital-experts.html">
                    <img class="specialty__icon animate__animated" src="../images/specialised.png" alt="" />
                    <div class="specialty__info">
                        <div class="specialty__title">Specialised Consultancy</div>
                        <div class="specialty__desc">Solve and identify risk enterprise and insurance problems with our experienced client-centered consultants</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./ui-ux.html">
                    <img class="specialty__icon animate__animated" src="../images/ui-ux.png" alt="" />
                    <div class="specialty__info">
                        <div class="specialty__title">User Interface / <span class="d-inline-block">User Experience</span></div>
                        <div class="specialty__desc">Create solutions that are not only effective, but a joy to use with our UX and UI capabilities</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./functional-performance.html">
                    <img class="specialty__icon animate__animated" src="../images/quality.png" alt="" />
                    <div class="specialty__info">
                        <div class="specialty__title">Quality</div>
                        <div class="specialty__desc">Be assured of reliable and secure applications built on a foundation of rigorous quality testing</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./knowledge-management.html">
                    <img class="specialty__icon animate__animated" src="../images/knowledge.png" alt="" />
                    <div class="specialty__info">
                        <div class="specialty__title">Knowledge Managment</div>
                        <div class="specialty__desc">Gain a deeper understanding of your data and maximise untapped potential</div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <hr class="separator" />

    <section class="section container">
        <h2 class="section__heading">Our Specialities</h2>
        <div class="section__sub">Leverage on our Subject Matter Specialists for a tailored solution</div>

        <div class="row m-t-normal">
            <div class="col-lg-7">

                <div class="speciality-container">
                    <div class="speciality-item speciality-item--ui-ux lg" data-target-id="ui-ux">
                        <div class="speciality__hex thin-border">
                            <div class="speciality__hex thick-border">
                                <div class="speciality__hex">
                                    <div class="speciality__hex__inner">
                                        <img class="speciality__icon" src="../images/ui-ux.png" alt="" />
                                        <div class="speciality__label">User Experience <br>&<br> User Interface</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="speciality-content is-m d-none" data-id="ui-ux">
                        <p class="speciality-content__p">User interface (UI) and user experience (UX) is an integral part of what we do. The design, look, feel and experience of our products make for a better user journey.</p>
    
                        <div class="speciality-content__subheading">&ldquo;We believe a good user experience lies at the core of our products. We translate concepts and functions into beautiful, seamless, intuitive and easy-to-use interfaces.&rdquo;</div>
    
                        <p class="speciality-content__p">At Interactive, good user experience and good design go hand-in-hand. Our UX team and UI team members understand and believe in the complementary and necessary roles of UX and UI. Working with you, they bring about quality solutions that deliver both function and aesthetical value.</p>
                    </div>

                    <div class="speciality-item speciality-item--quality" data-target-id="quality">
                        <div class="speciality__hex thin-border">
                            <div class="speciality__hex thick-border">
                                <div class="speciality__hex">
                                    <div class="speciality__hex__inner">
                                        <img class="speciality__icon" src="../images/ui-ux.png" alt="" />
                                        <div class="speciality__label">Quality</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="speciality-content is-m d-none" data-id="quality">
                        <p class="speciality-content__p">
                            Interactive takes quality to heart. All solutions and software applications undergo end-to-end functional and performance testing. This is done by our Software Testing and Assure Reliability (STAR) Team.
                        </p>
    
                        <div class="speciality-content__subheading">&ldquo;We assure quality and reliability and always are dedicated to deliver stable and secure software applications with strict adherence to agreed timelines.&rdquo;</div>
    
                        <p class="speciality-content__p">
                            Our testing includes:
                            <ul class="section__points">
                                <li>Test schedules dates</li>
                                <li>SIT and UAT test cases</li>
                                <li>System testing</li>
                                <li>System integration testing</li>
                                <li>Data and technology migration testing</li>
                                <li>Non-functional testing / A/B testing</li>
                                <li>Performance and Security testing</li>
                            </ul>
                        </p>
    
                        <p class="speciality-content__p">
                            As part of our organization ongoing service quality assurance, a mandatory vulnerability testing is conducted on across all of our testing composites.
                        </p>
                    </div>

                    <div class="speciality-item speciality-item--subject-matter" data-target-id="subject-matter">
                        <div class="speciality__hex thin-border">
                            <div class="speciality__hex thick-border">
                                <div class="speciality__hex">
                                    <div class="speciality__hex__inner">
                                        <img class="speciality__icon" src="../images/ui-ux.png" alt="" />
                                        <div class="speciality__label">Subject Matter Experts</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="speciality-content is-m d-none" data-id="subject-matter">
                        <div class="speciality-content__subheading">&ldquo;Your bespoke software development partner for financial and technology industries.&rdquo;</div>
    
                        <p class="speciality-content__p">
                            Software product development consists of a set of features tailored to meet certain needs of a specific market segment. Product development emphasizes not only on solution functionality, but also need to adhere to stringent standards of technical architectural xxx, code quality and solution design while creating robust solutions in an agile manner.
                        </p>
    
                        <p class="speciality-content__p">
                            With xx developers and xx years of experience, JLT Interactive has an experienced cohort of deep domain knowledge cross-functional teams to optimize enterprise solutions delivery to all levels of customers from building, designing, implementing, web-based, mobile, and back-end applications.
                        </p>
                    </div>

                    <div class="speciality-item speciality-item--digital-experts is-active" data-target-id="digital-experts">
                        <div class="speciality__hex thin-border">
                            <div class="speciality__hex thick-border">
                                <div class="speciality__hex">
                                    <div class="speciality__hex__inner">
                                        <img class="speciality__icon" src="../images/ui-ux.png" alt="" />
                                        <div class="speciality__label">Digital Experts</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="speciality-content is-m d-none" data-id="digital-experts">
                        <div class="speciality-content__subheading">&ldquo;Let us partner with you to create strategic perspectives to bring value for you and your customers.&rdquo;</div>
    
                        <p class="speciality-content__p">
                            Be it to leverage on technological tools to improve existing processes, to accelerate workflow efficiencies, maximized ROI, better risk management or to have a digital transformation to deliver a 360 customer experience to customers, staff, and stakeholders across business. Our digital experts provide the consulting to translate insight for a roadmap and business case to ensure that strategic recommendations reflect current business exigencies.
                        </p>
                    </div>

                    <div class="speciality-item speciality-item--consultancy" data-target-id="specialised-consultancy">
                        <div class="speciality__hex thin-border">
                            <div class="speciality__hex thick-border">
                                <div class="speciality__hex">
                                    <div class="speciality__hex__inner">
                                        <img class="speciality__icon" src="../images/ui-ux.png" alt="" />
                                        <div class="speciality__label">Specialised Consultancy</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="speciality-content is-m d-none" data-id="specialised-consultancy">
                        <div class="speciality-content__subheading"></div>
    
                        <p class="speciality-content__p">
                        </p>
                    </div>

                    <div class="speciality-item speciality-item--knowledge-mgmt" data-target-id="knowledge-management">
                        <div class="speciality__hex thin-border">
                            <div class="speciality__hex thick-border">
                                <div class="speciality__hex">
                                    <div class="speciality__hex__inner">
                                        <img class="speciality__icon" src="../images/ui-ux.png" alt="" />
                                        <div class="speciality__label">Knowledge Management</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="speciality-content is-m d-none" data-id="knowledge-management">
                        <p class="speciality-content__p">
                            Interactive proprietary secured online portal for risk and insurance information. The portal consolidate and enable readily access to all relevant insurance and claims documents and make it easy to perform key functions effectively and efficiently anywhere and anytime.
                        </p>
    
                        <div class="speciality-content__subheading">&ldquo;Fingertip access to quick domain related knowledge and updates on the go&rdquo;</div>
    
                        <p class="speciality-content__p">
                            The fundamental design principle of Knowledge Management is to deliver value to the client in a rapid and scalable manner where integration with our in-house eco-system of technological solutions offering can be enabled.
                        </p>
    
                        <p class="speciality-content__p">
                            Knowledge Management serves as a platform to upload and share industry relevant documents with client users. This means brokers and clients can access their insurance details in real-time; be it a review of current premiums or downloading a policy details.
                        </p>
    
                        <p class="speciality-content__p">
                            The portal implements a role based security model where user(s) will have access only to information they are privileged to have. The system also implements standard industry strength security protocols for data at rest and in transit.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-5">

                <div class="speciality-content d-none" data-id="ui-ux">
                    <p class="speciality-content__p">User interface (UI) and user experience (UX) is an integral part of what we do. The design, look, feel and experience of our products make for a better user journey.</p>

                    <div class="speciality-content__subheading">&ldquo;We believe a good user experience lies at the core of our products. We translate concepts and functions into beautiful, seamless, intuitive and easy-to-use interfaces.&rdquo;</div>

                    <p class="speciality-content__p">At Interactive, good user experience and good design go hand-in-hand. Our UX team and UI team members understand and believe in the complementary and necessary roles of UX and UI. Working with you, they bring about quality solutions that deliver both function and aesthetical value.</p>
                </div>

                <div class="speciality-content d-none" data-id="quality">
                    <p class="speciality-content__p">
                        Interactive takes quality to heart. All solutions and software applications undergo end-to-end functional and performance testing. This is done by our Software Testing and Assure Reliability (STAR) Team.
                    </p>

                    <div class="speciality-content__subheading">&ldquo;We assure quality and reliability and always are dedicated to deliver stable and secure software applications with strict adherence to agreed timelines.&rdquo;</div>

                    <p class="speciality-content__p">
                        Our testing includes:
                        <ul class="section__points">
                            <li>Test schedules dates</li>
                            <li>SIT and UAT test cases</li>
                            <li>System testing</li>
                            <li>System integration testing</li>
                            <li>Data and technology migration testing</li>
                            <li>Non-functional testing / A/B testing</li>
                            <li>Performance and Security testing</li>
                        </ul>
                    </p>

                    <p class="speciality-content__p">
                        As part of our organization ongoing service quality assurance, a mandatory vulnerability testing is conducted on across all of our testing composites.
                    </p>
                </div>

                <div class="speciality-content d-none" data-id="subject-matter">
                    <div class="speciality-content__subheading">&ldquo;Your bespoke software development partner for financial and technology industries.&rdquo;</div>

                    <p class="speciality-content__p">
                        Software product development consists of a set of features tailored to meet certain needs of a specific market segment. Product development emphasizes not only on solution functionality, but also need to adhere to stringent standards of technical architectural xxx, code quality and solution design while creating robust solutions in an agile manner.
                    </p>

                    <p class="speciality-content__p">
                        With xx developers and xx years of experience, JLT Interactive has an experienced cohort of deep domain knowledge cross-functional teams to optimize enterprise solutions delivery to all levels of customers from building, designing, implementing, web-based, mobile, and back-end applications.
                    </p>
                </div>

                <div class="speciality-content d-none" data-id="digital-experts">
                    <div class="speciality-content__subheading">&ldquo;Let us partner with you to create strategic perspectives to bring value for you and your customers.&rdquo;</div>

                    <p class="speciality-content__p">
                        Be it to leverage on technological tools to improve existing processes, to accelerate workflow efficiencies, maximized ROI, better risk management or to have a digital transformation to deliver a 360 customer experience to customers, staff, and stakeholders across business. Our digital experts provide the consulting to translate insight for a roadmap and business case to ensure that strategic recommendations reflect current business exigencies.
                    </p>
                </div>

                <div class="speciality-content d-none" data-id="specialised-consultancy">
                    <div class="speciality-content__subheading"></div>

                    <p class="speciality-content__p">
                    </p>
                </div>

                <div class="speciality-content d-none" data-id="knowledge-management">
                    <p class="speciality-content__p">
                        Interactive proprietary secured online portal for risk and insurance information. The portal consolidate and enable readily access to all relevant insurance and claims documents and make it easy to perform key functions effectively and efficiently anywhere and anytime.
                    </p>

                    <div class="speciality-content__subheading">&ldquo;Fingertip access to quick domain related knowledge and updates on the go&rdquo;</div>

                    <p class="speciality-content__p">
                        The fundamental design principle of Knowledge Management is to deliver value to the client in a rapid and scalable manner where integration with our in-house eco-system of technological solutions offering can be enabled.
                    </p>

                    <p class="speciality-content__p">
                        Knowledge Management serves as a platform to upload and share industry relevant documents with client users. This means brokers and clients can access their insurance details in real-time; be it a review of current premiums or downloading a policy details.
                    </p>

                    <p class="speciality-content__p">
                        The portal implements a role based security model where user(s) will have access only to information they are privileged to have. The system also implements standard industry strength security protocols for data at rest and in transit.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <hr class="separator" />

    <section class="section container global-reach">
        <h2 class="section__heading">Our Global Reach</h2>

        <div class="global-reach__facts">
            <div class="global-reach__facts-inner">
                <div class="global-reach__fact-left">
                    <div class="global-reach__fact po-1">
                        <div class="global-reach__fact-num">15+ Years</div>
                        <div class="global-reach__fact-what">In the business</div>
                    </div>
                    <div class="global-reach__fact po-2">
                        <div class="global-reach__fact-num">Over 400</div>
                        <div class="global-reach__fact-what">Renewals</div>
                    </div>
                    <div class="global-reach__fact po-3">
                        <div class="global-reach__fact-num">Over 2 Million</div>
                        <div class="global-reach__fact-what">Transactions</div>
                    </div>
                </div>

                <div class="global-reach__fact-right">
                    <div class="global-reach__fact po-4">
                        <div class="global-reach__fact-num">Over 100 Countries</div>
                        <div class="global-reach__fact-what">Client Locations</div>
                    </div>
                    <div class="global-reach__fact po-5">
                        <div class="global-reach__fact-num">50+</div>
                        <div class="global-reach__fact-what">Consultants & Specialists</div>
                    </div>
                    <div class="global-reach__fact po-6">
                        <div class="global-reach__fact-num">2</div>
                        <div class="global-reach__fact-what">Development & Support Centres</div>
                    </div>
                </div>
            </div>
            <div class="global-reach__facts-ra">&rsaquo;</div>
        </div>

        <img class="global-reach__img img-fluid" src="../images/global-reach.png" alt="Interactive Global Reach" />
    </section>

    <hr class="separator" />

    <section class="section testimonial">
        <div class="container">
            <h2 class="section__heading">Hear From Our Clients</h2>

            <div class="swiper-container">
                <ul class="swiper-wrapper testimonial__list">
                    <li class="swiper-slide testimonial__item">
                        <div class="testimonial__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                        <div class="testimonial__pic">user icon</div>
                        <div class="testimonial__by">- Joe Bloggs</div>
                    </li>
                    <li class="swiper-slide testimonial__item">
                        <div class="testimonial__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                        <div class="testimonial__pic">user icon</div>
                        <div class="testimonial__by">- Joe Bloggs</div>
                    </li>
                </ul>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

                <div class="swiper-button-next-wrapper"></div>
                <div class="swiper-button-prev-wrapper"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %} {% endblock %}