{% set page = "specialties" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero is-lg" style="background-image: url(../images/bg-network-globe.png);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                JLT Interactive a digital solution provider, specializing in the development of Insurance and Risk Management software solutions and products
            </div>
        </div>
    </section>

    <section class="section container">
        <h2 class="section__heading">Our Specialities</h2>
        <div class="section__sub">Leverage on our Subject Matter Specialists for a tailored solution</div>

        <div class="row justify-content-md-center specialty">
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./digital-experts.html">
                    <img class="specialty__icon animate__animated" src="../images/digital-experts.png" />
                    <div class="specialty__info">
                        <div class="specialty__title">Digital Experts</div>
                        <div class="specialty__desc">Solve industry challenges with seamless digital solutions customised for your needs</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./subject-matter-experts.html">
                    <img class="specialty__icon animate__animated" src="../images/subject-matter-experts.png" />
                    <div class="specialty__info">
                        <div class="specialty__title">Subject Matter Experts</div>
                        <div class="specialty__desc">Tap the expertise of our diverse team of domain experts</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./digital-experts.html">
                    <img class="specialty__icon animate__animated" src="../images/specialised.png" />
                    <div class="specialty__info">
                        <div class="specialty__title">Specialised Consultancy</div>
                        <div class="specialty__desc">Solve and identify risk enterprise and insurance problems with our experienced client-centered consultants</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./ui-ux.html">
                    <img class="specialty__icon animate__animated" src="../images/ui-ux.png" />
                    <div class="specialty__info">
                        <div class="specialty__title">User Interface / User Experience</div>
                        <div class="specialty__desc">Create solutions that are not only effective, but a joy to use with our UX and UI capabilities</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./functional-performance.html">
                    <img class="specialty__icon animate__animated" src="../images/quality.png" />
                    <div class="specialty__info">
                        <div class="specialty__title">Quality</div>
                        <div class="specialty__desc">Be assured of reliable and secure applications built on a foundation of rigorous quality testing</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 specialty__item">
                <a class="specialty__box" href="./knowledge-management.html">
                    <img class="specialty__icon animate__animated" src="../images/knowledge.png" />
                    <div class="specialty__info">
                        <div class="specialty__title">Knowledge Managment</div>
                        <div class="specialty__desc">Gain a deeper understanding of your data and maximise untapped potential</div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="section container global-reach">
        <h2 class="section__heading">Our Global Reach</h2>

        <div class="global-reach__facts">
            <div class="global-reach__facts-inner">
                <div class="global-reach__fact-left">
                    <div class="global-reach__fact po-1">
                        <div class="global-reach__fact-num">15+ Years</div>
                        <div class="global-reach__fact-what">In the business</div>
                    </div>
                    <div class="global-reach__fact po-2">
                        <div class="global-reach__fact-num">Over 400</div>
                        <div class="global-reach__fact-what">Renewals</div>
                    </div>
                    <div class="global-reach__fact po-3">
                        <div class="global-reach__fact-num">Over 2 Million</div>
                        <div class="global-reach__fact-what">Transactions</div>
                    </div>
                </div>

                <div class="global-reach__fact-right">
                    <div class="global-reach__fact po-4">
                        <div class="global-reach__fact-num">Over 100 Countries</div>
                        <div class="global-reach__fact-what">Client Locations</div>
                    </div>
                    <div class="global-reach__fact po-5">
                        <div class="global-reach__fact-num">50+</div>
                        <div class="global-reach__fact-what">Consultants & Specialists</div>
                    </div>
                    <div class="global-reach__fact po-6">
                        <div class="global-reach__fact-num">2</div>
                        <div class="global-reach__fact-what">Development & Support Centres</div>
                    </div>
                </div>
            </div>
            <div class="global-reach__facts-ra">&rsaquo;</div>
        </div>

        <img class="global-reach__img img-fluid" src="../images/global-reach.png" />
    </section>
{% endblock %}

{% block js %} {% endblock %}