{% set pageTitle = "Specialities | Interactive" %}
{% set page = "specialties" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-network-globe.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Leverage on our Subject Matter Specialists for a tailored solution
            </div>
        </div>
    </section>

    <section class="section container">
        <h2 class="section__heading">Our Specialities</h2>

        <div class="row specialty">
            <div class="col-lg-6 specialty__container">
                <div class="specialty__item is-active" data-target-id="digitalExperts">
                    <div class="specialty__box">
                        <img class="specialty__icon" src="../images/digital-experts.png" />
                        <img class="specialty__icon-active" src="../images/digital-experts-wh.png" />
                        <div class="specialty__label">Digital Experts</div>
                    </div>
                    <div class="specialty__content is-m" data-id="digitalExperts">
                        <div class="specialty__content-tagline">Solve industry challenges with seamless digital solutions customized for your needs</div>
                        <div class="specialty__content-p">Let us partner with you to create strategic perspectives to bring value for you and your customers. Be it to leverage on technological tools to improve existing processes, to accelerate workflow efficiencies, maximized ROI, better risk management or to have a digital transformation to deliver a 360-degree customer experience to customers, staff, and stakeholders across business. Our digital experts provide the consulting to translate the requirements and insights into a roadmap and business case to ensure that strategic recommendations reflect current business exigencies.</div>
                    </div>
                </div>
                <div class="specialty__item" data-target-id="subjectMatterExperts">
                    <div class="specialty__box">
                        <img class="specialty__icon" src="../images/subject-matter-experts.png" />
                        <img class="specialty__icon-active" src="../images/subject-matter-experts-wh.png" />
                        <div class="specialty__label">Subject Matter Experts</div>
                    </div>
                    <div class="specialty__content is-m d-none" data-id="subjectMatterExperts">
                        <div class="specialty__content-tagline">Your strategic software development partner for financial and technology industries</div>
                        <div class="specialty__content-p">Software product development consists of a set of features tailored to meet certain needs of a specific market segment. Product development emphasizes on not only solution functionality, but also need to adhere to stringent standards of technical architecture, security, code quality and solution design while creating robust solutions in an agile manner.</div>
                        <div class="specialty__content-p">With our strong 50+ T-shaped, techno functional resources and our combined years of product development and management experience, we have an experienced cohort of deep domain knowledge cross-functional teams to optimize enterprise solutions delivery to all levels of customers from building, designing, implementing, web-based, mobile-ready, and back-end applications.</div>
                    </div>
                </div>
                <div class="specialty__item" data-target-id="uiUx">
                    <div class="specialty__box">
                        <img class="specialty__icon" src="../images/ui-ux.png" />
                        <img class="specialty__icon-active" src="../images/ui-ux-wh.png" />
                        <div class="specialty__label">User Experience / User Interface</div>
                    </div>
                    <div class="specialty__content is-m d-none" data-id="uiUx">
                        <div class="specialty__content-tagline">Creating a compelling and intuitive usability journey with our UI/UX capabilities</div>
                        <div class="specialty__content-p">User interface (UI) and user experience (UX) is an integral part of what we do. The design, look, feel and experience of our products make for a better user journey.</div>
                        <div class="specialty__content-p">"We believe a good user experience lies at the core of our products. We translate concepts and functions into beautiful, seamless, intuitive and easy-to-use interfaces."</div>
                        <div class="specialty__content-p">At Interactive, good user experience and good design go hand-in-hand. Our UX team and UI team members understand and believe in the complementary and necessary roles of UX and UI. Working with you, they bring about quality solutions that deliver both function and aesthetical value.</div>
                    </div>
                </div>
                <div class="specialty__item" data-target-id="quality">
                    <div class="specialty__box">
                        <img class="specialty__icon" src="../images/quality.png" />
                        <img class="specialty__icon-active" src="../images/quality-wh.png" />
                        <div class="specialty__label">Quality</div>
                    </div>
                    <div class="specialty__content is-m d-none" data-id="quality">
                        <div class="specialty__content-tagline">Be assured of reliable and secure applications built on a foundation of rigorous quality testing</div>
                        <div class="specialty__content-p">Interactive takes quality to heart. All solutions and software applications undergo end-to-end functional and performance testing. This is done by our Software Testing and Assure Reliability (STAR) Team.</div>
                        <div class="specialty__content-p">"We assure quality and reliability. We are always dedicated to deliver stable and secure software applications with strict adherence to agreed timelines."</div>
                        <div class="specialty__content-p">We cover System Testing, System Integration Testing, A/B Testing, Non-Functional Testing, Performance Testing and Security Testing. User Acceptance Testing (UAT) is crucial for the successful implementation. Our testing experts and business analysts, with their strong domain and business knowledge, work closely with and assist our business and client users in UAT. We take a pragmatic view on Testing Automation and focusing on the automation only where a strong case and clear ROI.</div>
                        <div class="specialty__content-p">As part of our organization ongoing service quality assurance, a mandatory vulnerability testing is conducted on across all of our testing composites.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="specialty__content" data-id="digitalExperts">
                    <div class="specialty__content-tagline">Solve industry challenges with seamless digital solutions customized for your needs</div>
                    <div class="specialty__content-p">Let us partner with you to create strategic perspectives to bring value for you and your customers. Be it to leverage on technological tools to improve existing processes, to accelerate workflow efficiencies, maximized ROI, better risk management or to have a digital transformation to deliver a 360-degree customer experience to customers, staff, and stakeholders across business. Our digital experts provide the consulting to translate the requirements and insights into a roadmap and business case to ensure that strategic recommendations reflect current business exigencies.</div>
                </div>
                <div class="specialty__content d-none" data-id="quality">
                    <div class="specialty__content-tagline">Be assured of reliable and secure applications built on a foundation of rigorous quality testing</div>
                    <div class="specialty__content-p">Interactive takes quality to heart. All solutions and software applications undergo end-to-end functional and performance testing. This is done by our Software Testing and Assure Reliability (STAR) Team.</div>
                    <div class="specialty__content-p">"We assure quality and reliability. We are always dedicated to deliver stable and secure software applications with strict adherence to agreed timelines."</div>
                    <div class="specialty__content-p">We cover System Testing, System Integration Testing, A/B Testing, Non-Functional Testing, Performance Testing and Security Testing. User Acceptance Testing (UAT) is crucial for the successful implementation. Our testing experts and business analysts, with their strong domain and business knowledge, work closely with and assist our business and client users in UAT. We take a pragmatic view on Testing Automation and focusing on the automation only where a strong case and clear ROI.</div>
                    <div class="specialty__content-p">As part of our organization ongoing service quality assurance, a mandatory vulnerability testing is conducted on across all of our testing composites.</div>
                </div>
                <div class="specialty__content d-none" data-id="subjectMatterExperts">
                    <div class="specialty__content-tagline">Your strategic software development partner for financial and technology industries</div>
                    <div class="specialty__content-p">Software product development consists of a set of features tailored to meet certain needs of a specific market segment. Product development emphasizes on not only solution functionality, but also need to adhere to stringent standards of technical architecture, security, code quality and solution design while creating robust solutions in an agile manner.</div>
                    <div class="specialty__content-p">With our strong 50+ T-shaped, techno functional resources and our combined years of product development and management experience, we have an experienced cohort of deep domain knowledge cross-functional teams to optimize enterprise solutions delivery to all levels of customers from building, designing, implementing, web-based, mobile-ready, and back-end applications.</div>
                </div>
                <div class="specialty__content d-none" data-id="uiUx">
                    <div class="specialty__content-tagline">Creating a compelling and intuitive usability journey with our UI/UX capabilities</div>
                    <div class="specialty__content-p">User interface (UI) and user experience (UX) is an integral part of what we do. The design, look, feel and experience of our products make for a better user journey.</div>
                    <div class="specialty__content-p">"We believe a good user experience lies at the core of our products. We translate concepts and functions into beautiful, seamless, intuitive and easy-to-use interfaces."</div>
                    <div class="specialty__content-p">At Interactive, good user experience and good design go hand-in-hand. Our UX team and UI team members understand and believe in the complementary and necessary roles of UX and UI. Working with you, they bring about quality solutions that deliver both function and aesthetical value.</div>
                </div>
            </div>
        </div>
    </section>

    <hr class="separator" />

    <section class="section testimonial">
        <div class="testimonial__inner" style="background-image: url(../images/bg-testimonial.png);">
            <div class="container">
                <h2 class="section__heading">Hear From Our Clients</h2>

                <div class="swiper-container">
                    <ul class="swiper-wrapper testimonial__list">
                        <li class="swiper-slide testimonial__item">
                            <div class="testimonial__text">
                                <span class="testimonial__text__quote start">“</span>
                                Our collaboration with the Interactive team since 2005 has led to a very good cooperation as their competencies and state-of-art iClaims system, which is reliable, easy to navigate and fit to use; a value-add to our operations.
                                <span class="testimonial__text__quote end">”</span>
                            </div>
                            <div class="testimonial__pic-container d-none">
                                <div class="testimonial__pic">
                                    <img src="../images/user.png" alt="user" />
                                </div>
                            </div>
                            <div class="testimonial__by"><b>Risk & Insurance Manager</b><br>(Logistics industry)</div>
                        </li>
                        <li class="swiper-slide testimonial__item">
                            <div class="testimonial__text">
                                <span class="testimonial__text__quote start">“</span>
                                There is a central communication control and they listen to our feedback and manage the UAT seriously…the iRIS system is constantly evolving and upgraded with new improvements. It helps us significantly in our annual data gathering process across our global locations.
                                <span class="testimonial__text__quote end">”</span>
                            </div>
                            <div class="testimonial__by"><b>Manager</b><br>(Automobile industry)</div>
                        </li>
                        <li class="swiper-slide testimonial__item">
                            <div class="testimonial__text">
                                <span class="testimonial__text__quote start">“</span>
                                I really enjoyed the new functions and possibilities which solved many years’ worth of problem; the improvements rolled out in the iCargo system are really great!
                                <span class="testimonial__text__quote end">”</span>
                            </div>
                            <div class="testimonial__by"><b>Manager</b><br>(Trading & Processing)</div>
                        </li>
                    </ul>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                    <div class="swiper-button-next-wrapper"></div>
                    <div class="swiper-button-prev-wrapper"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %} {% endblock %}