{% set page = "index" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-network-globe.png);">
    </section>

    <section class="section container">
        <div class="section__heading-icon-box">
            <div class="section__heading-icon-box__inner">
                <img class="section__heading-icon" src="../images/subject-matter-experts.png" />
            </div>
        </div>

        <h1 class="section__heading is-page">Subject Matter Experts</h1>
        <div class="section__sub is-page">&ldquo;Your bespoke software development partner for financial and technology industries.&rdquo;</div>

        <p class="section__p">
            Software product development consists of a set of features tailored to meet certain needs of a specific market segment. Product development emphasizes not only on solution functionality, but also need to adhere to stringent standards of technical architectural xxx, code quality and solution design while creating robust solutions in an agile manner.
        </p>

        <p class="section__p">
            With xx developers and xx years of experience, JLT Interactive has an experienced cohort of deep domain knowledge cross-functional teams to optimize enterprise solutions delivery to all levels of customers from building, designing, implementing, web-based, mobile, and back-end applications.
        </p>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="view-more">
        <a class="btn btn--info" href="./">Back To Homepage</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}