{% set page = "services" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-what-we-offer.png);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Our flagship interactive solutions are highly scalable and easily deployed to address big industry problems, putting power back into your hands
            </div>
        </div>
    </section>

    <section class="section container">
        <h1 class="section__heading">Not just products; solutions</h1>
        
        <div class="section__sub">Our web-based solutions give your business access to and control of the information you need to make timely and effective risk and insurance related decisions.</div>

        <div class="row vertical-separator mt-4">
            <div class="col-md-6">
                <div class="product">
                    <div class="product__name">iCargo</div>
                    <div class="product__desc">
                        iCargo is our proprietary, Online cargo insurance management system to manage end to end Cargo Insurance including client's management.
                        <br />
                        <a class="product__read-more" href="./icargo.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-right is-alt">
                    <div class="product__name">iCLAIMS</div>
                    <div class="product__desc">
                        Online, customer facing end-to-end claims life cycle management system.
                        <br />
                        <a class="product__read-more" href="./iclaims.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-alt">
                    <div class="product__name">iRIS</div>
                    <div class="product__desc">
                        Online Risk Information Management (RIMS) and Enterprise Risk Management (ERM) solution.
                        <br />
                        <a class="product__read-more" href="./iris.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-right">
                    <div class="product__name">iCOVER</div>
                    <div class="product__desc">
                        An electronic customer facing solution to manage workflows associated with the issuance of insurance certificate under an agreed facility.
                        <br />
                        <a class="product__read-more" href="./icover.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product">
                    <div class="product__name">Client Portal</div>
                    <div class="product__desc">
                        Client Portal is a seamless web based platform to support collaboration with clients and insurers. The secured functional design enables specific templates configuration to support quick deployment with fully bespoke solutions for more complex needs.
                        <br />
                        <a class="product__read-more" href="./client-portal.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-right is-alt">
                    <div class="product__name">BENPAL Asia</div>
                    <div class="product__desc">
                        Online customer facing Employee Group, Flexible Benefits Management System.
                        <br />
                        <a class="product__read-more" href="./benpal-asia.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-alt">
                    <div class="product__name">Insure Portal</div>
                    <div class="product__desc">
                        An Affinity Portal selling Group Health Insurance and Other Policies.
                        <br />
                        <a class="product__read-more" href="./insure-portal.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-right">
                    <div class="product__name">Affinity Systems</div>
                    <div class="product__desc">
                        Online, customer facing Affinity Schemes Management Systems.
                        <br />
                        <a class="product__read-more" href="./affinity-systems.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="section container">
        <h2 class="section__heading">Other Applications & Competencies</h2>

        <div class="service-box row">
            <div class="col-md-4">
                <div class="service-box__item">
                    <div class="service-box__heading">Group Intranet</div>
                    <div class="service-box__desc">Knowledge Hubs are online content portals which pulls together material on specialised sectors e.g. Construction, Energy. Designed to consume data feeds in a secured and configurable manner to provide clients on-demand access to information, insurance portfolio, reports, knowledge library, and repository documents.
                        <br />
                        Granular access to authorized partners is configurable for compliance purpose and to protect against possible content or internal resource leakage.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box__item">
                    <div class="service-box__heading">Digital Marketing</div>
                    <div class="service-box__desc">Personalizing the customer digital experience with Sitecore, one of the leading enterprise-level web content management and multichannel marketing automation software provider.
                        <br />
                        Our team of Sitecore developers have successfully developed and implemented 47 of customized web contents that connect the business to their target audience in a speedy and efficient manner.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box__item">
                    <div class="service-box__heading">Testing & SME</div>
                    <div class="service-box__desc">Be assured of reliable and secure applications built on a foundation of rigorous quality testing.
                        <br />
                        Interactive takes quality to heart. All solutions and software applications undergo end-to-end functional and performance testing. This is done by our Software Testing and Assure Reliability (STAR) Team.
                        <br />
                        We assure quality and reliability and always are dedicated to deliver stable and secure software applications with strict adherence to agreed timelines.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="section container">
        <h2 class="section__heading">Case Studies</h2>

        <div class="section__sub">We don't just build products, we create solutions.</div>

        <div class="flexslider">
            <ul class="slides">
                <li class="slides__item">
                    <img class="slides__img" src="../images/case-study-icargo.jpg">
                    <p class="slides__content flex-caption">Taking the Complexity out of Cargo Insurance</p>
                </li>
                <li class="slides__item">
                    <img class="slides__img" src="../images/case-study-iclaims.jpg">
                    <p class="slides__content flex-caption">slide 2</p>
                </li>
            </ul>
        </div>
    </section>

    <div class="container">
        <hr class="separator" />
    </div>

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}