{% set pageTitle = "Our Products and Solutions | Interactive" %}
{% set page = "services" %}
{% extends "./layout/default.twig.html" %}

{% block content %}
    <section class="hero" style="background-image: url(../images/bg-what-we-offer.jpg);">
        <div class="hero__content">
            <div class="hero__content-inner container">
                Our flagship Interactive Solutions are highly scalable and easily deployed to address big industry problems, putting power back into your hands
            </div>
        </div>
    </section>

    <section class="section container">
        <h1 class="section__heading">Not just products; solutions</h1>
        
        <div class="section__sub">Our web-based solutions give your business access to and control of the information you need to make timely and effective risk and insurance related decisions.</div>

        <div class="row vertical-separator mt-4">
            <div class="col-md-6">
                <div class="product">
                    <div class="product__name">iCargo<sup>&reg;</sup></div>
                    <div class="product__desc">
                        Our proprietary end-to-end Cargo insurance system specifically for the Marine Cargo business.
                        <br />
                        <a class="product__read-more" href="./icargo.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-right is-alt">
                    <div class="product__name">iRIS</div>
                    <div class="product__desc">
                        Enterprise Risk Management (ERM) and Risk Management Information System (RMIS).
                        <br />
                        <a class="product__read-more" href="./iris.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-alt">
                    <div class="product__name">Insure Portal</div>
                    <div class="product__desc">
                        A dedicated insurance turnkey portal for startups and SMEs.
                        <br />
                        <a class="product__read-more" href="./insure-portal.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-right">
                    <div class="product__name">iCOVER</div>
                    <div class="product__desc">
                        Online insurance solution to manage workflow and certificates issuance.
                        <br />
                        <a class="product__read-more" href="./icover.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product">
                    <div class="product__name">iCLAIMS</div>
                    <div class="product__desc">
                        Online, customer facing end-to-end claims life cycle management system.
                        <br />
                        <a class="product__read-more" href="./iclaims.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product is-right is-alt">
                    <div class="product__name">Benpal Asia</div>
                    <div class="product__desc">
                        Online customer facing Employee Group, Flexible Benefits Management System.
                        <br />
                        <a class="product__read-more" href="./benpal-asia.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="separator" />

    <section class="section container">
        <h2 class="section__heading">Case Studies</h2>

        <div class="section__sub">We don't just build products, we create solutions.</div>

        <div class="slider-cases swiper-container">
            <ul class="slides swiper-wrapper">
                <li class="slides__item swiper-slide">
                    <img class="slides__img" src="../images/case-study-icargo.jpg" alt="iCargo case study">
                    <p class="slides__content flex-caption">
                        <a href="case-study-icargo.html">Taking the Complexity out of Cargo Insurance</a>
                    </p>
                </li>
                <li class="slides__item swiper-slide">
                    <img class="slides__img" src="../images/case-study-iris.jpg" alt="iRIS case study">
                    <p class="slides__content flex-caption">
                        <a href="case-study-iris.html">Automating risk information collection</a>
                    </p>
                </li>
                <li class="slides__item swiper-slide">
                    <img class="slides__img" src="../images/case-study-icover.jpg" alt="iCover case study">
                    <p class="slides__content flex-caption">
                        <a href="case-study-icover.html">Supporting insurance for the construction sector</a>
                    </p>
                </li>
                <li class="slides__item swiper-slide">
                    <img class="slides__img" src="../images/case-study-iclaims.jpg" alt="iClaims case study">
                    <p class="slides__content flex-caption">
                        <a href="case-study-iclaims.html">Streamlining claims administration</a>
                    </p>
                </li>
                <li class="slides__item swiper-slide">
                    <img class="slides__img" src="../images/case-study-benpal-asia.jpg" alt="Benpal Asia case study">
                    <p class="slides__content flex-caption">
                        <a href="case-study-benpal.html">Employment Benefit Management</a>
                    </p>
                </li>
            </ul>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next-wrapper"></div>
            <div class="swiper-button-prev-wrapper"></div>
        </div>
    </section>

    <hr class="separator" />

    <section class="view-more">
        <h2 class="view-more__heading">Contact Us</h2>
        <p class="view-more__sub">Energise your business today!</p>
        <a class="btn btn--info-2" href="./contact.html">Enquire</a>
    </section>
{% endblock %}

{% block js %} {% endblock %}